<form method="post" action="{{ path('but_de_la_semaine_delete', {'id': but_de_la_semaine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ but_de_la_semaine.id) }}">
    <button class="btn">Delete</button>
</form>
